<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}}</title>
</head>
<body>
<header>
    {{#each collections.posts}}
        <li>
            <a href="{{this.permalink}}">{{this.title}}</a>
        </li>
    {{/each}}
</header>
<main>
    <h1>{{title}}</h1>
    {{{content}}}
</main>
</body>
</html>
